<div class="main-div">
    <div class="text-content">
        <div class="ratings">

        </div>
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p> Lorem ipsum dolor sit amet consectet</p>

    </div>
    <div class="img-div">
        <img/>
    </div>

</div>

<style>
    .main-div{
        height: 173px;
        width: 1155.02px;
        display: flex;
    }
    .text-content{
        width: 761.99px;
        height: 173px;
        display: flex;
        flex-direction: column;
    }
</style>

{%  schema  %} 
{
    "name": "comment",
    "settings": [],
    "presets": [
        {
            "name": "comment"
        }
    ]
}
 {% endschema %}