<div class="main-div">
    <div class="text-content">
        <div class="ratings">

        </div>
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p> Lorem ipsum dolor sit amet consectet</p>

    </div>
    <div class="img-div">
        <img/>
    </div>

</div>

<style>
    .main-div{
        height: 173px;
        width: 1155.02px;
        display: flex;
    }
    .text-content{
        width: 761.99px;
        height: 173px;
        display: flex;
        flex-direction: column;
    }
    .text-content .ratings{
        width: 430.6px;
        height: 32px;
        object-fit: cover;
    }
    .text-content h3{
        font-size: 40px;
        font-weight: 600;
        line-height: 54px;
    
    }
    .text-content p{
        font-size: 20px;
        font-weight: 400;
        line-height: 31.1px;
    }

    .img-div{
        width: 393.03px;
        height: 173px;
        object-fit: cover;
    }

</style>

{%  schema  %} 
{
    "name": "comment",
    "settings": [],
    "presets": [
        {
            "name": "comment"
        }
    ]
}
 {% endschema %}