<div class="main-div">
    <div class="text-content">

    </div>
    <div class="img-div">
        
    </div>

</div>

{%  schema  %} 
{
    "name": "comment",
    "settings": [],
    "presets": [
        {
            "name": "comment"
        }
    ]
}
 {% endschema %}