<div class="main-div">
    <div class="text-content">
        <div class="ratings">

        </div>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deleniti</h3>

    </div>
    <div class="img-div">
        
    </div>

</div>

{%  schema  %} 
{
    "name": "comment",
    "settings": [],
    "presets": [
        {
            "name": "comment"
        }
    ]
}
 {% endschema %}