<div class="explore-page">
    <h3>Explore Our Categories</h3>

    <div class="explore-container">
        <div class="big-div">
            <div class="big-div-img">
                <img />
            </div>
            <div class="big-div-content">
                <h4>AMINO ACID</h4>
                <button class="big-div-btn explore-btn">Explore Now</button>
            </div>
        </div>

        <div class="small-div">
                <div class="small-div-content">
                    <h4>EFA'S OIL</h4>
                    <button class="big-div-btn explore-btn">Explore Now</button>
                </div>
                <div class="small-div-img"></div>
                <img />
               </div>
        </div>
    </div>

    <h5>explore all categories</h5>
</div>


<style>
    .explore-page{
        width: 1203px;
        height: fit-content;
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        background-color: grey;
    }
    
    .explore-container{
        margin: 0;
        padding: 0;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

    }

    .big-div{
        margin: 0;
        padding: 0;
        width: 758.27px;
        height: 349px;
        background-color: aqua;
        display: flex;
        border: none;
        border-radius: 20px;
        overflow: hidden;
    }
    .big-div-img{
        margin: 0;
        padding: 0;
        width: 363px;
        height: 349px;
        overflow: hidden;
        object-fit: cover;
    }
    .big-div-img img{
        margin: 0;
        padding: 0;
        width: 363px;
        height: 349px;
        background-position: center;
    }
    .big-div-content{
        margin: 0;
        padding: 0;
        height: 349px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }
    .big-div-content h4{
        margin: 0;
        padding: 0;
        font-size: 46px;
        font-weight: 700;
        line-height: 62.1px;
        color: #074542;
    }
    .big-div-content button{
        margin: 0;
        padding: 0;
        width: 327px;
        height: 63px;
        border: 1px solid #074542;
        border-radius: 82px;
        color: #074542;
        background-color: transparent;
        font-size: 24px;
        font-weight: 600;
        line-height: 37.32px;
    }


    .small-div{
        margin: 0;
        padding: 0;
        height: 349px;
        width: 434.73px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: aqua;
        position: relative;
    }
    .small-div-content{
        margin: 0;
        padding: 0;
        width: 434.73px;
        height: 171px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 6px;
        
    }
    .small-div-content h4{
        margin: 0;
        padding: 0;
        font-size: 46px;
        font-weight: 700;
        line-height: 62.1px;
        color: #074542;
    }
    .small-div-content button{
        margin: 0;
        padding: 0;
        width: 327px;
        height: 63px;
        border: 1px solid #074542;
        border-radius: 82px;
        color: #074542;
        background-color: transparent;
        font-size: 24px;
        font-weight: 600;
        line-height: 37.32px;
    }
    .small-div-img{
        margin: 0;
        padding: 0;
        height: 234px !important;
        min-height: 234px;
        width: 356.33px;
        position: absolute;
        bottom: 0;
        z-index: 10;
        object-fit: cover;
        overflow: hidden;
        background-color:black;
        display: block !important;
    }
    .small-div-img img{
        margin: 0;
        padding: 0;
        height: 234px;
        width: 356.33px;
        background-position: center;
    }

    .explore-page h5{
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        line-height: 37.32px;
        color: #074542;
    }


</style>


{%  schema  %} 
{
    "name": "explore1",
    "settings": [],
    "presets": [
        {
            "name": "explore1"
        }
    ]
}
 {% endschema %} 