<div class="explore-page">
    <h3>Explore</h3>
</div>



{%  schema  %} 
{
    "name": "explore1",
    "settings": [],
    "presets": [
        {
            "name": "explore1"
        }
    ]
}
 {% endschema %} 