<div class="explore-now-div">
    <div class="explore-box">
        <div class="explore-text-content">
            <h4>BEST SELLERS</h4>
            <button class="explore-now-btn">Explore Now</button>
        </div>
        <div class="explore-now-img">
            <img />
        </div>
    </div>
</div>

<style>
    .explore-now-div{
        width: 1320px;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        background-color: gray;
    }

    .explore-box{
        width: 434.73px;
        height: 349px;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .explore-text-content{
        height: 131px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }
    .explore-text-content h4{
        font-size: 46px;
        font-weight: 700;
        line-height: 62.1px;
    }

    .explore-text-content button{
        width: 327px;
        height: ;
    }


</style>


{%  schema  %} 
{
    "name": "explore3",
    "settings": [],
    "presets": [
        {
           "name": "explore3" 
        }
    ]
}
 {% endschema %} 