<div class="explore-page">
    <h3>Explore Our Categories</h3>

    <div class="explore-container">
        <div class="big-div">
            <div class="big-div-img">
                <img />
            </div>
            <div class="big-div-content">
                <h4>AMINO ACID</h4>
                <button class="big-div-btn explore-btn">Explore Now</button>
            </div>
        </div>

        <div class="small-div">
            <div class="small-div-img">
                <img />
                <div class="small-div-content">
                    <h4>EFA'S OIL</h4>
                    <button class="big-div-btn explore-btn">Explore Now</button>
                </div>
            </div>
        </div>
    </div>

    <h5>explore all categories</h5>
</div>


<style>
    .explore-page{
        width: 1203px;
        height: fit-content;
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        background-color: grey;
    }
    
    .explore-container{
        margin: 0;
        padding: 0;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

    }

    .big-div{
        margin: 0;
        padding: 0;
        width: 758.27px;
        height: ;
    }


</style>


{%  schema  %} 
{
    "name": "explore1",
    "settings": [],
    "presets": [
        {
            "name": "explore1"
        }
    ]
}
 {% endschema %} 