<div class="explore-page">
    <h3>Explore Our Categories</h3>

    <div class="explore-container">
        <div class="big-div">
            <img />
            <div class="big-div-content">
                <h4>AMINO ACID</h4>
                <button class="big-div-btn explore-btn"></button>
            </div>

        </div>
        <div class="small-div">

        </div>

    </div>
</div>



{%  schema  %} 
{
    "name": "explore1",
    "settings": [],
    "presets": [
        {
            "name": "explore1"
        }
    ]
}
 {% endschema %} 