<div class="explore-now-div">
    <div class="explore-box">
        <div class="explore-text-content">
            <h4>BEST SELLERS</h4>
            <button class="explore-now-btn">Explore Now</button>
        </div>
        <div class="explore-now-img">
            <img />
        </div>
    </div>
</div>

<style>
    .explore-now-div{
        width: 1320px;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
</style>


{%  schema  %} 
{
    "name": "explore3",
    "settings": [],
    "presets": [
        {
           "name": "explore3" 
        }
    ]
}
 {% endschema %} 