<div class="hero-div">
    <img />
    <div class="hero-content">
        <div class="hero-ratings">
            <img />
        </div>
        
        <h3 class="hero-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores</h3>

        <p class="hero-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad perspiciatis voluptatem temporibu</p>

        <div class="hero-points">
            <div class="hero-point">
                <div class="hero-point-svg"></div>
                <p class="hero-point-text"></p>
            </div>
        </div>

        <button class="hero-button">CTA TEXT</button>

    </div>
</div>

<style>
    .hero-div{
        height: 610px;
        width: 100%;
        background-color: aqua;
    }

    .hero-content{
        margin-left: 120px;
        width: 594px;
        height: fit-content;
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        justify-content: center;
    }
    .hero-title{
        font-size: 40px;
        font-weight: 600;
    }
</style>

{%  schema  %} 
{
    "name": "hero",
    "settings": [],
    "presets": [
        {
            "name": "hero"
        }
    ]
}
 {% endschema %}