<div class="hero-div">
    <img />
    <div class="hero-content">
        <div class="hero-ratings">
            <img />
        </div>
        
        <h3 class="hero-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores facilis ex dolorem reprehenderit similique volupt</h3>

    </div>
</div>

<style>
    .hero-div{
        height: 610px;
        width: 100%;
        background-color: aqua;
    }
</style>

{%  schema  %} 
{
    "name": "hero",
    "settings": [],
    "presets": [
        {
            "name": "hero"
        }
    ]
}
 {% endschema %}