<div class="hero-div">
    <img />
    <div class="hero-content">
        <div class="hero-ratings">
            <img />
        </div>
        
        <h3 class="hero-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores</h3>

        <p class="hero-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad perspiciatis voluptatem temporibu</p>

        <div class="hero-points">
            <div class="hero-point">
                <div class="hero-point-svg">
                    {%  render 'hero-tick' %} 
                </div>
                <p class="hero-point-text">Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </div>

        <button class="hero-button">CTA TEXT</button>

    </div>
</div>

<style>
    .hero-div{
        height: 610px;
        width: 100%;
        background-color: aqua;
    }

    .hero-content{
        margin-left: 120px;
        width: 594px;
        height: fit-content;
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        justify-content: center;
    }
    .hero-title{
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 54px;
        color: #074542;
    }
    
    .hero-para{
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 31.1px;
    }

   
    .hero-point{
        margin: 0;
        padding: 0 15.5px;
        height: 33px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 50px;
        }
    .hero-point-svg{
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        background-color: #074542;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-point-text{
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
    }

    .hero-button{
        margin: 0;
        padding: 0;
        height: 77px;
        width: 419px;
        border: none;
        border-radius: 82px;
        background: linear-gradient(180deg, #3AAFA9 0%, #228B85 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 37.32px;
    }



</style>

{%  schema  %} 
{
    "name": "hero",
    "settings": [],
    "presets": [
        {
            "name": "hero"
        }
    ]
}
 {% endschema %}