<div class="hero-div">
    <img>
    <div class="hero-content">
        
    </div>
</div>

{%  schema  %} 
{
    "name": "hero",
    "settings": [],
    "presets": [
        {
            "name": "hero"
        }
    ]
}
 {% endschema %}