<div class="hero-div">
    <img>
    <div class="hero-content">

    </div>
</div>

<style>
    .hero-div{
        height: 610px;
        width: 100%;
        background-color: aqua;
    }
</style>

{%  schema  %} 
{
    "name": "hero",
    "settings": [],
    "presets": [
        {
            "name": "hero"
        }
    ]
}
 {% endschema %}