.collection-container {
  position: relative;
}

.product-collection__header {
  font-size: 24px;
}

.product-collection__header h2 {
  color: rgb(var(--color-foreground)) !important;
}



.collection__product-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}